body .hh{
    font-family:'Times New Roman', Times, serif;
    font-size: 120px;
    font-weight: bolder;
    font-style: italic;
    color: burlywood;
    background-color: aqua;
    background-image: url('media/download.jpeg');
    height: 150px;
    position: relative;
    opacity: 0.8;
    border-radius: 10px;
}
.huu {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

p {
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
    font-weight: bold;
}
li {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(158, 177, 162);
    border-collapse: separate;
}

.here{
    font-size: 20px;
    font-weight: bold;
    color:aqua !important;
    background-color: hsl(192, 88%, 32%);
    position: relative;
    left: 10px;
    right: 10px;
    
}
#media img{
    border: 10px solid rgb(235, 190, 220);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
    left: 90px;
    top: 20px;
    background-color:rgb(87, 168, 130);
}
#media video{
    border: 10px solid rgb(235, 190, 220);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 20px 30px;
    position: relative;
    left: 130px;
    top: 20px;
    background-color: rgb(114, 207, 207);
}
#media{
    border: 10px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 150px;
    background-color: rgb(21, 158, 158);
}
#media p{
    font-size: 20px;
    text-align: center;
    font-weight: bold; 
    border-radius: 10px;
    background-color: rgb(202, 168, 247);  
}

body {
    background-color: aqua;
    color: black;
    border: 4px solid rgb(19, 16, 209);
    padding: 15px;
    border-radius: 10px;
    height: 2200px;

}

th h1{
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    background-color: rgb(209, 109, 142);
    border-radius: 10px;
    margin: 10px 10px;
}

th h2{
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
    background-color: rgb(214, 93, 93);
    margin: 10px 10px;
    border-radius: 10px;
}

td h3{
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 10px;
    line-height: 1.7;
    letter-spacing: 1px;
    background-color: rgb(13, 187, 106);
    border-radius: 10px;
}

th, td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 300px;
}
 table{
    text-align: center;
    margin: 50px, 50px;
    border-collapse: collapse;
 }
 #soo{
    max-width: 900x;
    margin: 0 auto;
    height: 800px;
    position: relative;
    left: 200px;
    top: 60px
 }